
* {
    margin: 0;
	padding: 0;
	/* border: 1px solid black; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    
    background-color: white;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #333333;
    height: 80px;
    display: flex;
    color: whitesmoke;
    width: 100vw;
}

#header-title {
    font-size: 50px;
    color: antiquewhite;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#header-title a:hover {
    text-decoration: none;
}

nav {
    text-align: right;
    margin-right: 20px;
    position: relative;
    vertical-align: middle;
    list-style-type: none;
    font-size: 25px;
    padding: 5px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

nav li + li::before {
    content: " | ";
    padding: 0 10px;
}

.nav-links {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: flex-end;
}

nav ul li {
    display: inline;
    margin: 10px;
    justify-content: flex-end;
    text-decoration: none;
    
}

#hero h2 {
    display: inline-block;
}

#hero p {
    display: inline-block;
}



#hero img {
    height: 200px;
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.project-card {
    margin: 100px;
    background-color: antiquewhite;
    border-radius: 10px;
    height: 350px;
}

.project-card p {
    padding-right: 100px;
}

.project-card img {
    margin-top: auto;
    height: 300px;
    width: 500px;
    border-radius: 10px;

}

.float-right {
    float: right;
}